<resources>
    <string name="title">Sistema & Gestos</string>
    <string name="buttons.title">Botões</string>
    <string name="buttons.volume_button_music_control.title">Botões de volume para mudar de faixa</string>
    <string name="buttons.volume_button_music_control.desc">Pressione por um tempo nos botões de volume para Avançar/Voltar a faixa</string>
    <string name="buttons.advanced_reboot.title">Menu de reinício avançado</string>
    <string name="buttons.advanced_reboot.desc">Mostrar outras opções no menu de energia</string>
    <string name="gestures.title">Gestos</string>
    <string name="gestures.double_tap_sleep_lockscreen.title">Bloquear tela com duplo toque na tela de bloqueio</string>
    <string name="gestures.double_tap_sleep_lockscreen.desc">Desligar a tela com um duplo toque em um espaço vazio da tela de bloqueio</string>
    <string name="gestures.three_finger_gesture.title">Captura de tela com três dedos</string>
    <string name="gestures.three_finger_gesture.desc">Arraste para baixo com três dedos para uma captura de tela</string>
    <string name="gestures.pulse_on_new_tracks.title">AOD para músicas</string>
    <string name="gestures.pulse_on_new_tracks.desc">Mostrar Tela Ambiente (AOD) quando uma nova faixa de música é tocada</string>
    <string name="navigation.title">Navegação</string>
    <string name="navigation.sysui_nav_bar_hint.title">Mostrar a pílula de gestos</string>
    <string name="navigation.sysui_nav_bar_hint.desc">Mudar a navegação para Botões/Gestos</string>
    <string name="navigation.navigation_handle_width.title">Comprimento da pílula de navegação</string>
    <string name="navigation.sysui_nav_bar_inverse.title">Trocar ordem dos botões de navegação</string>
    <string name="navigation.sysui_nav_bar_inverse.desc">Trocar ordem dos botões de navegação, se usar o layout de 3 botões</string>
    <string name="navigation.systemui_tuner_navbar.title">Modificar barra de navegação</string>
    <string name="navigation.systemui_tuner_navbar.desc">Modificar o layout da barra de navegação</string>
    <string name="network.title">Rede</string>
    <string name="network.tethering_allow_vpn_upstreams.title">Permitir que os usuários usem VPN's</string>
    <string name="network.tethering_allow_vpn_upstreams.desc">Permitir que usuários de Ponto de Acesso/Tethering usem a conexão VPN deste dispositivo </string>
    <string name="packagemanager.title">Gerenciador de pacotes</string>
    <string name="packagemanager.allow_signature_fake.title">Falsificação de assinatura do pacote</string>
    <string name="packagemanager.allow_signature_fake.desc">Permitir assinaturas falsas (pode ser útil para microG)</string>
    <string name="notifications.title">Notificações</string>
    <string name="notifications.less_boring_heads_up.title">Notificações flutuantes menos chatas</string>
    <string name="notifications.less_boring_heads_up.desc">Apenas receber notificações flutuantes em caso de chamadas ou apps de mensagem</string>
</resources>