<resources>
    <string name="title">Sistema & Gestos</string>
    <string name="buttons.title">Botones</string>
    <string name="buttons.volume_button_music_control.title">Botones de volumen para saltar pistas</string>
    <string name="buttons.volume_button_music_control.desc">Mantenga presionados los botones de volumen para avanzar / retroceder pista</string>
    <string name="buttons.advanced_reboot.title">Reinicio avanzado</string>
    <string name="buttons.advanced_reboot.desc">Mostrar opciones de reinicio adicionales</string>
    <string name="gestures.title">Gestos</string>
    <string name="gestures.double_tap_sleep_lockscreen.title">Doble toque para dormir en la pantalla de bloqueo</string>
    <string name="gestures.double_tap_sleep_lockscreen.desc">Apague la pantalla tocando dos veces el espacio vacío en la pantalla de bloqueo</string>
    <string name="gestures.three_finger_gesture.title">Captura de pantalla de tres dedos</string>
    <string name="gestures.three_finger_gesture.desc">Desliza tres dedos hacia abajo para hacer una captura de pantalla</string>
    <string name="gestures.pulse_on_new_tracks.title">Pistas de música ambiental</string>
    <string name="gestures.pulse_on_new_tracks.desc">Mostrar pantalla ambiental cuando se reproduce una nueva pista de música</string>
    <string name="navigation.title">Navegación</string>
    <string name="navigation.sysui_nav_bar_hint.title">Mostrar barra de gestos</string>
    <string name="navigation.sysui_nav_bar_hint.desc">Alternar navegación/barra</string>
    <string name="navigation.navigation_handle_width.title">Longitud de la manija de navegación</string>
    <string name="navigation.sysui_nav_bar_inverse.title">Cambiar los botones de navegación</string>
    <string name="navigation.sysui_nav_bar_inverse.desc">Cambie los botones de navegación cuando use el diseño de 3 botones</string>
    <string name="navigation.systemui_tuner_navbar.title">Personalización de la barra de navegación</string>
    <string name="navigation.systemui_tuner_navbar.desc">Cambiar el diseño de la barra de navegación</string>
    <string name="network.title">Internet</string>
    <string name="network.tethering_allow_vpn_upstreams.title">Permitir a los clientes usar VPN</string>
    <string name="network.tethering_allow_vpn_upstreams.desc">Permitir que los clientes de hotspot / tethering utilicen la conexión VPN de este dispositivo</string>
    <string name="packagemanager.title">Manejador de paquetes</string>
    <string name="packagemanager.allow_signature_fake.title">Suplantación de la firma del paquete</string>
    <string name="packagemanager.allow_signature_fake.desc">Permitir firmas falsas (útil para microG)</string>
    <string name="notifications.title">Notificaciones</string>
    <string name="notifications.less_boring_heads_up.title">Cabeceras menos aburridas</string>
    <string name="notifications.less_boring_heads_up.desc">Reciba solo avisos de las aplicaciones de llamadas y mensajería</string>
</resources>
