name: CI (releases)

on:
  workflow_dispatch:
  push:
    paths:
      - pubspec.yaml

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'dev'
      - run: 'echo "$KEY_JKS_BASE64" | openssl base64 -d -out android/app/key.jks'
        shell: bash
        env:
          KEY_JKS_BASE64: ${{secrets.KEY_JKS_BASE64}}
      - run: 'echo "$KEY_PROPERTIES" > android/key.properties'
        shell: bash
        env:
          KEY_PROPERTIES: ${{secrets.KEY_PROPERTIES}}
      - run: flutter pub get
      - run: mkdir outputs
      - run: flutter build apk --target-platform android-arm
      - run: cp build/app/outputs/flutter-apk/app-release.apk outputs/android-arm.apk
      - run: flutter clean
      - run: flutter build apk --target-platform android-arm64
      - run: cp build/app/outputs/flutter-apk/app-release.apk outputs/android-arm64.apk
      - run: flutter clean
      - run: flutter build apk --target-platform android-x64
      - run: cp build/app/outputs/flutter-apk/app-release.apk outputs/android-x64.apk
      - run: flutter clean
      - run: |
          set -x
          assets=()
          for asset in ./outputs/*.apk; do
            assets+=("-a" "$asset")
          done
          version="$(cat pubspec.yaml | grep version | cut -d : -f 2 | xargs)"
          hub release create "${assets[@]}" -m "v$version" "$version"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
